matplotlib
numpy
pillow
opencv-python
# choose ONE of the two lines below
jupyter-bbox-widget==0.6.0
# jupyter-bbox-widget @ git+https://github.com/roboflow/bbox-widget.git
huggingface-hub
-e ./segment_anything_2
